.getInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.kg , .sm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}